langchain
langchain-community
langchain-core
openai
requests
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
faiss-cpu
python-dotenv
transformers==4.40.2
huggingface_hub #Hugging face CLI login
protobuf #to use "mistralai/Mistral-7B-Instruct-v0.3" model
sentencepiece
sentence-transformers==2.2.2
accelerate==0.27.2
torch
torchvision 
torchaudio


-e .