langchain
langchain-community
langchain-core
langchain-openrouter
openai #If you use open AI API
requests
pypdf
tiktoken
aiofiles
fastapi
uvicorn
jinja2
python-multipart
PyPDF2
faiss-cpu
python-dotenv
transformers
huggingface_hub #Hugging face CLI login
protobuf #to use "mistralai/Mistral-7B-Instruct-v0.3" model
sentencepiece
sentence-transformers
accelerate
torch
torchvision 
torchaudio
pydantic==2.7.4
hf_xet

-e .